@font-face {
  font-family: "Mukta";
  src: url("../assets/fonts/Mukta/Mukta-Regular.ttf");
}
@font-face {
  font-family: "Mukta";
  src: url("../assets/fonts/Mukta/Mukta-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Mukta";
  src: url("../assets/fonts/Mukta/Mukta-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Mukta";
  src: url("../assets/fonts/Mukta/Mukta-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/BebasNeue/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/openSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/openSans/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/openSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/openSans/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat//Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Monserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}