<ion-header [translucent]="false">
  <ion-toolbar color="blackColor">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    
      <ion-title color="light">
        Support
      </ion-title>
    <!-- <div class="rowAlignCenter" style="margin: 15px; margin-bottom: 10px">
      <ion-icon
        (click)="goBack()"
        name="arrow-back"
        color="whiteColor"
        style="font-size: 25px"
      ></ion-icon>
      <ion-text class="whiteColor22Bold" style="margin-left: 10px">
        Support
      </ion-text>
    </div> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img
    class="margin20"
    src="../../../assets/images/support.png"
    style="width: 100%; height: 160px; object-fit: contain"
  >
  </ion-img>

  <ion-text
    class="whiteColor20SemiBold"
    style="margin: 0 20px; display: flex; margin-top: 30px"
  >
    We’re Happy to Hear From You
  </ion-text>

  <!-- <div class="rowAlignCenter" style="margin: 10px 20px">
    <span
      class="material-icons"
      style="color: var(--grayColor); font-size: 20px"
    >
      phone_in_talk
    </span>
    <ion-text class="grayColor18Regular" style="flex: 1; margin-left: 15px">
      +91 123654790
    </ion-text>
  </div> -->

  <div class="rowAlignCenter" style="margin: 0px 20px;margin-top: 25px;">
    <span
      class="material-icons"
      style="color: var(--grayColor); font-size: 20px"
    >
      email
    </span>
    <ion-text class="grayColor18Regular" style="flex: 1; margin-left: 15px">
       support&#64;acomtv.com
    </ion-text>
  </div>

  <!-- <ion-text
    class="whiteColor20SemiBold"
    style="margin: 0 20px; margin-top: 25px; display: flex"
  >
    Or Send Your Message
  </ion-text>

  <div style="margin: 0 20px; margin-top: 15px">
    <ion-text class="grayColor15Regular"> Email Address </ion-text>
    <ion-input
      mode="ios"
      placeholder="Enater Email Address"
      class="whiteColor16Medium textfield"
      inputmode="email"
      value="samanthasmith@gmail.com"
    ></ion-input>
    <div class="divider"></div>
  </div>

  <div style="margin:20px;">
    <ion-text class="grayColor15Regular"> Your Message</ion-text>
    <ion-input
      mode="ios"
      autoGrow="true"
      placeholder="Write you’re message here"
      class="whiteColor16Medium textfield"
    ></ion-input>
    <div class="divider"></div>
  </div> -->
</ion-content>

<!-- <ion-footer style="background: var(--bodyBackColor)">
  <div (click)="goBack()" class="center button">
    <ion-text class="whiteColor18Bold"> Submit </ion-text>
  </div>
</ion-footer> -->

