.planOverlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
}

.radioButton {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 1.5px solid;
}

.radioButtonSelected {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--primaryColor);
}

.card {
  justify-content: space-between;
  background-color: var(--lightBlackColor);
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 15px;
}
