.starCastName {
  width: 86px;
  white-space: pre-line;
  -webkit-line-clamp: 1;
  margin-top: 5px;
  text-align: center;
}

.reviewDetail {
  margin-left: 15px;
  margin-right: 5px;
  flex: 1;
  justify-content: space-between;
}

.posterOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    rgba(18, 18, 18, 0.8),
    rgba(18, 18, 18, 0.97),
    var(--bodyBackColor)
  );
}
