.editPicCircle {
  background-color: var(--whiteColor);
  position: absolute;
  bottom: -5px;
  right: 5px;
}

.textfield {
  height: 23px;
  min-height: 23px;
  --placeholder-color: var(--grayColor);
  --placeholder-opacity: 1;
}

.divider {
  background-color: var(--grayColor);
  height: 1px;
  margin-top: 13px;
}
